<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
	<!-- Header -->
    <%- include('./partials/header')%>
	<!-- /Header -->
    <main>
        <section class="center main-content">
        <h1>Nuevo Post</h1>
        <p>Crear el formulario para cargar un nuevo posteo.</p>
        </section>
    </main>

<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->
</body>

</html>