<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
		<%- include('./partials/header')%>
	<!-- /Header -->
<body>
    <main>
        <section class="center main-content">
        <h1>Login</h1>
        <div class="formulario-login">
            <form action="/user/login" method="POST">
                <p><label for="mail">Mail:</label></p>
                <p><input type="email" id="mail" name="email"> </p>

                <p><label for="password">Contraseña:</label></p>
                <p><input type="password" id="password" name="password"></p>

                <p><label for="recordarme">Recordarme:</label></p>
                <p><input type="radio" name="opción" value="Si">Si</p>
                <p><input type="radio" name="opción" value="No">No</p>

                <p><input type="submit" value="Enviar"></p>
            </form>
        </div>
        </section>
    </main>
<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>

</html>