<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
		<%- include('./partials/header')%>
	<!-- /Header -->
<body>
    <main>
        <section class="center main-content">
        <h1>Login</h1>
        <div class="formulario-login">
            <form action="/users/login" method="POST">
                <p><input type="email" id="email" name="email" placeholder="email"> </p>
            
                <p><input type="password" id="password" name="password_" placeholder="Clave"></p>
                
                <p><input type="submit" value="Enviar"></p>
            </form>
        </div>
        </section>
    </main>
<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>

</html>