<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
		<%- include('./partials/header')%>
	<!-- /Header -->
<body>
    <main>
        <section class="center main-content">
        <h1>Login</h1>
        <p>Crear el formulario para ingresar al sitio.</p>
        </section>
    </main>
<!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>

</html>