<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
		<%- include('./partials/header')%>
	<!-- /Header -->
<body>
    <main>
        <section class="center main-content">
        <h1>Registrate</h1>
    </div>
        <div class="formulario-register">
            <form action="/users/registracion" method="POST"> 
                    
                <div>
                    <input type="text" id="Email" name="email" placeholder="email">
                </div>
                <div>
                    <input type="text" id="name" name="name" placeholder="nombre">
                </div>
                <div>
                    <input type="password" id="password" name="pass" placeholder="pass">
                </div>
                
            
                    <div>	
                        <input type="date" id="Fecha-de-Nacimiento" name="fecha_de_nacimiento" placeholder="fecha">
                    </div>
                
                    <div>
                        <input type="number" id="Numero-de-Documento" name="numero_de_documento" placeholder="DNI">
                    </div>
                
                    <div>
                        <input type="file" id="Foto-de-Perfil" name="fotodeperfil" placeholder="Foto de Perfil">
                </div>
                <p class="block">
                    <button type="submit">
                        REGISTRARME
                    </button>
                </p>
            </form>
        </div>
        </section>
    </main>

    <!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>

</html>