<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
		<%- include('./partials/header')%>
	<!-- /Header -->
<body>
    <main>
        <section class="center main-content">
        <h1>Registrate</h1>
    </div>
        <div class="formulario-register">
            <form action="/users/registracion" method="POST"> 
                    <label for="email">Email</label></p>
                <div>
                    <input type="text" id="Email" name="email">
                </div>
                
                    <label for="text">Nombre</label></p>
                <div>
                    <input type="text" id="name" name="name">
                </div>
                <div>
                    <label for="contraseña">Contraseña</label></p>
                    <input type="password" id="password" name="password">
                </div>
                
            
                <label for="fecha">Fecha de Nacimiento</label>
                    <div>	
                        <input type="date" id="Fecha-de-Nacimiento" name="fecha_de_nacimiento">
                    </div>
                
                    <label for="numérico">Numero de Documento</label>
                    <div>
                        <input type="number" id="Numero-de-Documento" name="numero_de_documento">
                    </div>
                
                    <label for="file">Foto de Perfil</label>
                    <div>
                        <input type="file" id="Foto-de-Perfil" name="fotodeperfil">
                </div>
                <p class="block">
                    <button type="submit">
                        REGISTRARME
                    </button>
                </p>
            </form>
        </div>
        </section>
    </main>

    <!-- footer -->
<%- include('./partials/footer') %>
<!-- /footer -->

</body>

</html>